@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #151320;
    height: 100vh;
    display: grid;
    place-items: center center;
    font-family: 'Ubuntu', sans-serif;
}

/* navigation bar css  */
nav {
    background: #402155;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

label.logo {
    color: white;
    font-size: 1.3rem;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
}

a:hover {
    color: #c877ff;
    border-radius: 4px;
    background: rgba(135, 38, 174, 0.3);
    padding: 10px 17px;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #402155;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }
}

/* job post css */
form {
    padding: 25px;
    background: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    margin-top: 17vh;
}

form h2 {
    font-size: 27px;
    text-align: center;
    margin: 0px 0 30px;
}

form .form-group {
    margin-bottom: 15px;
    position: relative;
}

form label {
    display: block;
    font-size: 15px;
    margin-bottom: 7px;
}

form input,
form select {
    height: 45px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    outline: none;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
}

form input:focus,
form select:focus {
    border-color: #9a9a9a;
}

.submit-btn {
    margin-top: 30px;
}

.submit-btn input {
    color: white;
    border: none;
    height: auto;
    font-size: 16px;
    padding: 13px 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    background: #341449;
    transition: 0.2s ease;
}

.submit-btn input:hover {
    background: #4a2b5f;
}

/* success page css */
.toast{
    position: absolute;
    top: 130px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid green;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast .toast-content{
    display: flex;
    align-items: center;
}

.toast-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: green;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}
.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.message .text{
    font-size: 20px;
    font-weight: 400;;
    color: #666666;
}
.message .text.text-1{
    font-weight: 600;
    color: #333;
}

.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: green;
}

.progress.active:before{
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}

.success-home{
    padding: 12px 20px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #341449;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.success-home a {
    color: #ffffff;
}

.success-home:hover{
    background-color: #4a2b5f;
}


/* home page css */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    filter: brightness(47%);
    object-fit: cover;
    z-index: -99;
}

.main-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.hero {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-position: 10px 10px, bottom 215px right 10px, left 55% top -1%, left 45% bottom -1px;
    background-repeat: no-repeat;
}


.hero .row {
    display: flex;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: 0 60px;
    gap: 30px;
    justify-content: space-between;
}

.hero .row h2,
.hero .row p {
    color: #fff;
}

.hero .row h2 {
    font-size: 3.2rem;
    margin-bottom: 16px;
}

.hero .row h2 span, .hero .row p span {
    color: #c877ff;
    border-radius: 4px;
    background: rgba(135, 38, 174, 0.3);
    padding: 0px 10px;
}

.hero .row p span {
    padding: 5px 8px;
    font-weight: 600;
    font-size: 14px;
}

.hero .column {
    width: 70vw;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 57px;
}

.buttons .btn {
    padding: 14px 26px;
    background: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 40px;
    border: 1px solid #fff;
}

.buttons .btn a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}

.buttons a {
    background: none;
}

.buttons .btn:last-child, .buttons .btn:first-child {
    background: transparent;
    color: #fff;
}

.buttons .btn:last-child:hover , .buttons .btn:first-child:hover {
    background-color: #402155;
    border: #402155;
    border-radius: 4px;
    background: rgba(135, 38, 174, 0.5);
}

.hero_img {
    width: 100%;
    position: relative;
}

@media (width < 860px) {
    .hero {
        padding-top: 130px;
        top: 19vh;
    }

    .hero .row {
        flex-direction: column;
        padding: 0 20px;
        justify-content: center;
    }

    .hero .row .column {
        width: 100%;
    }
}

@media (width < 600px) {
    .hero {
        padding-top: 80px;
    }

    .hero .row h2 {
        font-size: 26px;
    }

    .buttons {
        justify-content: center;
    }

    .btn {
        padding: 10px 16px;
    }
}

