<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">

	<!-- Calling a servlet -->
	<servlet>
		<servlet-name>SumPage</servlet-name>
		<servlet-class>com.saha.AddServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SumPage</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<!-- Calling a servlet from another servlet -->
	<servlet>
		<servlet-name>SqPage</servlet-name>
		<servlet-class>com.saha.SqServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SqPage</servlet-name>
		<url-pattern>/square</url-pattern>
	</servlet-mapping>

</web-app>