@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.container {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	margin-top: 100px;
}

.container .title {
	font-size: 43px;
}

.main-links {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.main-links a {
	text-transform: uppercase;
    border: 2px solid lightblue;
    font-size: 24px;
    padding: 8px 20px;
    margin: 30px;
}

.search-bar {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}

.search-bar form #search {
	border: 2px solid lightgray;
    font-size: 25px;
    width: 66vw;
    padding: 9px 18px;
    font-style: italic;
}

form {
	display: flex;
    justify-content: center;
}

.search-bar form #search:focus {
	outline: none;
	border: 2px solid lightblue;
}

.search-bar form #btn {
	outline: none;
	border: none;
    margin: 0 10px;
    padding: 0 20px;
    font-weight: bold;
    color: white;
    background: black;
    font-size: 16px;
    cursor: pointer;
}

.search-bar .search-links a {
	text-transform: uppercase;
    border: 2px solid lightblue;
    font-size: 24px;
    padding: 8px 20px;
    margin: 30px;
}

.jobList {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 35px;
}

.job-card {
	display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 356px;
    height: 200px;
    border: 2px solid lightgray;
   	margin: 8px 12px;
}

.job-card h3 {
	margin-top: 24px;
}