@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.container {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-direction: column;
  	margin-top: 100px;
}

.container .title {
	font-size: 43px;
}

.main-links {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.main-links a {
	text-transform: uppercase;
    border: 2px solid lightblue;
    font-size: 24px;
    padding: 8px 20px;
    margin: 30px;
}